<table id="table">
    <caption>Список админов</caption>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Почта</th>
        </tr>
        {{#each admins as |admin|}}
        <tr>
            <td>{{admin.adminID}}</td>
            <td>{{admin.adminlogin}}</a></td>
            <td>{{admin.adminemail}}</td>
            {{#isGreater admin.adminID}}
            <td><button onclick="delete_element(this)" id="delete-button" class="table-button" value="{{admin.adminID}}">Удалить</button></td>
            {{/isGreater}}
        </tr>
        {{/each}}
</table>