<table class="main-table fixed">
    <caption>Создание админа</caption>
    <tr>
        <th>Почта</th>
        <td>
            <input  name="input" id="email" class="table-element">
        </td>
    </tr>
    <tr>
        <th>Логин</th>
        <td>
            <input name="input" id="login" class="table-element">
        </td>
    </tr>
    <tr>
        <th>Пароль</th>
        <td>
            <input id="password" class="table-element">
        </td>
    </tr>
    
</table>