<nav>
  <ul>
    <li><a href="/articles">Домашная страница</a></li>
    <li>
      <script>
      let date = new Date();
      let year = date.getFullYear();
      let month = date.getMonth()+1;
      var loc = "/lessons/lessons/"+year + "-"+month;
      document.write('<a href="' + loc + '">Учебный план</a>');
      </script>
    </li>
    <li><a href="/classes">Группы</a></li>
    <li><a href="/students">Студенты</a></li>
    <li><a href="/teachers">Преподаватели</a></li>
    <li><a href="/courses">Направления</a></li>
    <li><a href="/admins">Админы</a></li>
  </ul>
</nav>