<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header}}
        <a href="/lessons/parameters/edit" class="create_href"><button class="edit-button">Редактировать информацию для занятий</button></a>
        <div>
            <a href="/lessons/lessons/{{year}}-{{monthnumber}}">Назад</a>
        </div>
        <div>
            <input type="hidden" id="id" value="{{lesson.0.lessonID}}">
        </div>
    <div>
        {{#each lesson}}
        {{> lesson_table data=this attribute="disabled readonly"}}
        {{/each}}
        <label>Режим редактирования</label>
        <input type="checkbox" id="toggle-button" class="toggle-button">
        <button hidden id="update-button">Сохранить</button>
    </div>
    </body>
</html>
<script>
        var flag = true;
        document.getElementById('toggle-button').onclick = async function() {
            var inputs = document.getElementsByName('input');
            inputs.forEach((input)=>{
                input.readOnly = !input.readOnly;
                input.disabled = !input.disabled
            });
            var but = document.getElementById("update-button");
            but.hidden = !but.hidden;
            
            if(!flag) return;
            flag = false;

            const url = `/lessons/lesson/update/get`;
            const response = await fetch('/lessons/lesson/update/get', {
                method: 'post',
                headers: {'Content-Type': 'application/json'}
            });
            const res = await response.json();

            var temp = document.getElementById('teacher');
            if(temp)
            res.teachers.forEach((teacher)=>{
                let value = teacher.teacherID;
                let option = teacher.teachersurname + " " + teacher.teachername + " " + teacher.teachermidname;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });
            
            temp = document.getElementById('type');
            if(temp)
            res.types.forEach((type)=>{
                let value = type.typeID;
                let option = type.typename;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });

            temp = document.getElementById('class');
            if(temp)
            res.classes.forEach((classF)=>{
                let value = classF.classID;
                let option = classF.classname;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });

            temp = document.getElementById('format');
            if(temp)
            res.formats.forEach((format)=>{
                let value = format.formatID;
                let option = format.formatname;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });

            temp = document.getElementById('audience');
            if(temp)
            res.audiences.forEach((audience)=>{
                let value = audience.audienceID;
                let option = audience.audiencename;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });
            
            temp = document.getElementById('theme');
            if(temp)
            res.themes.forEach((theme)=>{
                let value = theme.themeID;
                let option = theme.themename;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });

            temp = document.getElementById('timing');
            res.timings.forEach((timing)=>{
                let value = timing.timingID;
                let option = timing.timingbegin + " - " + timing.timingend;
                if(temp.selectedIndex == -1 || temp.options[0].value != value)
                    temp.appendChild(new Option(option,value));
            });
        };
        document.getElementById('update-button').onclick = async function(){
            var data = {
                lessonID: document.getElementById('id').value,
                lessondateof: document.getElementById('date').value,
                typeID: document.getElementById('type').value,
                teacherID: document.getElementById('teacher').value,
                themeID: document.getElementById('theme').value,
                timingID: document.getElementById('timing').value,
                formatID: document.getElementById('format').value,
                audienceID: document.getElementById('audience').value,
                description: document.getElementById('description').value,
                classID: document.getElementById("class").value
            };
            if(data.description.length >300) 
            {
                alert("Описание не должно быть длиннее 300 символов");
                return;
            }
            else if(data.description.length <1){
                alert("Введите описание");
                return;
            }
            var date = data.lessondateof.split(/[- :]/);
            if(date[0] > 3000 || date[0] < 2000){
                alert("Некорректный год");
                return;
            }
            const url = `/lessons/lesson/update`;
            const response = await fetch('/lessons/lesson/update', {
                method: 'post',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json'}
            });
        };
        function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
        };
</script>