<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
    </head>
    <body>
        {{> header}}
        НОВОСТНАЯ ЛЕНТА ЕБАТЬ
    </body>
</html>