<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
        
    </head>
    <body>
        {{> header}}
        {{>student_table create-check="True"}}
        <button id="create-button">Создать</button>
    </body>
</html>

<script>
    document.getElementById('create-button').onclick = async function(){
        var fio = document.getElementById('fio').value.split(/\s+/);
        if(!fio[0]) {alert("Введите имя");return;}
        if(!fio[1]) {alert("Введите фамилию");return;}
        var midname = "";
        if(fio[2]) midname = fio[2];
        var data = {
            classID: document.getElementById('class').value,
            studentsurname: fio[0],
            studentname: fio[1],
            studentmidname: midname,
            studentlogin: document.getElementById('login').value,
            studentpassword: document.getElementById('password').value,
            studentsex: document.getElementById('sex').value,
            studentemail: document.getElementById('email').value,
            studentphone: document.getElementById('phone').value,
            studenttin: document.getElementById('tin').value,
            studentpassport: document.getElementById('passport').value,
            studentpassportby: document.getElementById('passportby').value,
            studentpassportdate: document.getElementById('passportdate').value
        };
        if(!data.studentlogin || /\s/g.test(data.studentlogin) || data.studentlogin.lenght> 20){alert("Некорректный логин");return;}
        if(!data.studentpassword || /\s/g.test(data.studentpassword) || data.studentpassword.length>20 || data.studentpassword.length<5){alert("Некорректный пароль");return;}
        if(data.studentsurname.length > 30){alert("Фамилия не должна быть длиннее 30 симоволов"); return;}
        if(data.studentname.length > 30){alert("Имя не должно быть длиннее 30 симоволов"); return;}
        if(data.studentmidname.length > 30){alert("Отчество не должно быть длиннее 30 симоволов"); return;}
        if(!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(data.studentemail) || data.studentemail.length > 30){alert("Неверный email"); return;}
        if(!/^\d+$/.test(data.studentphone) || data.studentphone.length > 11){alert("Некорректный номер телефона");return;}
        if(!/^\d+$/.test(data.studenttin) || data.studenttin.length != 12){alert("Некорректный ИНН");return;}
        if(!/^\d+$/.test(data.studentpassport) || data.studentpassport.length !=10){alert("Некорректные номер и серия паспорта");return;}
        if(!data.studentpassportby /\s/g.test(data.studentpassportby) || data.studentpassportby.lenght > 50){alert("Место выдачи должно быть не длиннее 50 символов");return;}
        var date = data.studentpassportdate.split(/[- :]/);
        if(!data.studentpassportdate){alert("Некорректный формат даты");return;}
        var curdate = new Date();
        if(parseInt(date[0]) > curdate.getFullYear()-14 || parseInt(date[0]) < curdate.getFullYear()-80){alert("Некорректный год");return;}
        
        const response = await fetch('/students/student/create', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
    };
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    };
</script>