<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header}}
        <a href="/articles/article/create" class="create_href"><button class="create-button">Добавить новость</button></a>
        <div style=" margin-top: 120px;"></div>
        {{#each articles}}
            {{> article_table attribute="readonly disabled" article=this}}
        {{/each}}
    </body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    autosize(document.querySelectorAll('#description'));
    }, false);
async function delete_element(elem){
        var id = elem.value;
        const response = await fetch('/articles/article/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("table");
        tr.remove();
    }
</script>