<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/autosize.js/4.0.2/autosize.min.js"></script>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header token=token}}
        <div style=" margin-top: 120px;"></div>
        {{> article_table create-check="True" token=token}}
        <button id="create-button">Создать</button>
    </body>
</html>
<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
    };
    document.addEventListener('DOMContentLoaded', function() {
    autosize(document.querySelectorAll('#description'));
    }, false);

    document.getElementById('create-button').onclick = async function(){
    var data = {
        name: document.getElementById("name").value,
        description: document.getElementById("description").value
    }
    if(data.description.length < 1 || data.description.length > 1000){alert("Описание не должно быть длиннее 1000 символов и не короче 1");return;}
    if(!data.name || data.name.length > 50){alert("Некорректный заголовок");return;}
    const response = await fetch('/articles/article/create', {
            method: 'post',
            body: JSON.stringify(data),
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 200){
            alert("Запись успешно создана");
            return;
        }
        else{
            alert("Ошибка при создании записи");
        }
    }
</script>