<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
        <link href='https://css.gg/css' rel='stylesheet'>
        
    </head>
    <body>
        {{> header}}
        <div>
            <input type="hidden" id="id" value="{{class.0.classID}}">
        </div>
        {{#each class}}
        {{> class_table class=this attribute="readonly disabled"}}
        {{/each}}
        {{> students_table students=students}}
         <label>Режим редактирования</label>
        <input type="checkbox" id="toggle-button" class="toggle-button">
        <button hidden id="update-button">Сохранить</button>
    </body>
</html>

<script>
    var flag = true;
    document.getElementById('toggle-button').onclick = async function() {
        var inputs = document.getElementsByName('input');
        inputs.forEach((input)=>{
            input.readOnly = !input.readOnly;
            input.disabled = !input.disabled
        });

        var but = document.getElementById("update-button");
        but.hidden = !but.hidden;
        
        if(!flag) return;
        flag = false;
        
        const response = await fetch('/classes/class/update/get', {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        const res = await response.json();

        var temp = document.getElementById('teacher');
        res.teachers.forEach((teacher)=>{
            let value = teacher.teacherID;
            let option = teacher.teachersurname + " " + teacher.teachername + " " + teacher.teachermidname;
            if(temp.options[0].value != value)
                temp.appendChild(new Option(option,value));
        });
    
        temp = document.getElementById('course');
        res.courses.forEach((course)=>{
            let value = course.courseID;
            let option = course.coursename;
            if(temp.options[0].value != value)
                temp.appendChild(new Option(option,value));
        });
    }
    
    document.getElementById('update-button').onclick = async function(){
        var data = {
            classID: document.getElementById('id').value,
            classdate: document.getElementById('date').value,
            classname: document.getElementById('name').value,
            studentID: document.getElementById('student').value,
            courseID: document.getElementById('course').value,
            teacherID: document.getElementById('teacher').value,
            description: document.getElementById('description').value
        };
        console.log(data);
        var date = data.сlassdate.split(/[- :]/);
        if(!data.сlassdate){
            alert("Некорректный формат даты");
            return;
        }
        if(date[0] > 3000 || date[0] < 2000){
            alert("Некорректный год");
            return;
        }
        if(data.description.length >120) 
        {
            alert("Описание не должно быть длиннее 120 символов");
            return;
        }
        str = data.classname.replace(/\s/g, '');
        if(!str || str.lenght<1)
        {
            alert("Введите название группы");
            return;
        }
            const url = `/lessons/lesson/update`;
            const response = await fetch('/lessons/lesson/update', {
                method: 'post',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json'}
            });
    }
    document.getElementsByClassName("").onclick = async function(){

    }
</script>