<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
    </head>
    <body>
        {{> header}}
        <table>
            <caption>Список групп</caption>
            {{#each data}}
                <tr>
                    <th>
                    <a  href="/classes/class/class/{{this.classID}}">
                        {{this.classname}}
                    </a>
                    </th>
                </tr>
            {{/each}}
        </table>
    </body>
</html>