<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
    </head>
    <body>
        {{> header token=token}}
        <div>
            <input type="hidden" id="id" value="{{class.0.classID}}">
        </div>
        {{> class_table courses=data.courses teachers=data.teachers}}
        <button id="create-button">Создать</button>
    </body>
</html>
<script defer>
    document.getElementById('date').value = new Date().toISOString().substring(0, 10);
</script>
<script>
    document.getElementById('create-button').onclick = async function(){
           var data = {
            classdate: document.getElementById('date').value,
            classname: document.getElementById('name').value,
            courseID: document.getElementById('course').value,
            teacherID: document.getElementById('teacher').value,
            description: document.getElementById('description').value
            };
            var date = data.classdate.split(/[- :]/);
            console.log(date);
            if(!data.classdate){
                alert("Некорректный формат даты");
                return;
            }
            if(date[0] > 3000 || date[0] < 2000){
                alert("Некорректный год");
                return;
            }
            if(!date.description) date.description = "";
            else if(data.description.length >120) 
            {
                alert("Описание не должно быть длиннее 120 символов");
                return;
            }
            var str = data.classname;
            str = data.classname.replace(/\s/g, '');
            if(!str || str.lenght<1)
            {
                alert("Введите название группы");
                return;
            }
            const response = await fetch('/classes/create', {
                method: 'post',
                body: JSON.stringify(data),
                headers: {'Content-Type': 'application/json'}
            });
        };
        function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight)+"px";
        };
</script>