<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
        
    </head>
    <body>
        {{> header}}
        <a href="/teachers/teacher/create" class="create_href"><button class="create-button">Добавить преподавателя</button></a>
        {{> teachers_table teachers=teachers}}
    </body>
</html>
<script>
    async function delete_element(elem){
        var id = elem.value;
        console.log(id);
        const response = await fetch('/teachers/teacher/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("tr");
        console.log(tr);
        tr.remove();
    }
</script>

