<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/../../css/main.css">
        <link rel="stylesheet" href="/../../css/table.css">
        
    </head>
    <body>
        {{> header}}
        <a href="/teachers/teacher/create" class="create_href"><button class="create-button">Добавить преподавателя</button></a>
        <input type="text" id="filter-input" onkeyup="applyFilter()" placeholder="Поиск...">
        {{> teachers_table teachers=teachers}}
    </body>
</html>
<script>
    async function delete_element(elem){
        var id = elem.value;
        const response = await fetch('/teachers/teacher/delete/'+id, {
            method: 'post',
            headers: {'Content-Type': 'application/json'}
        });
        if (response.status == 400) {alert("Ошибка");return;}
        var tr = elem.closest("tr");
        console.log(tr);
        tr.remove();
    }
    function applyFilter() {
    // Declare variables
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("filter-input");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (i = 0; i < tr.length; i++) {
            var endLoop = false;
            tdAll = tr[i].getElementsByTagName("td");
            for(let td of tdAll)
            if(!endLoop)
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                    endLoop = true;
                } 
                else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

